<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean1"
          class="ru.petrenko.spring.genres.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

    <bean id="musicBean2"
          class="ru.petrenko.spring.genres.RockMusic">
    </bean>

    <bean id="musicBean3"
          class="ru.petrenko.spring.genres.JazzMusic">
    </bean>

    <bean id="musicBean4"
          class="ru.petrenko.spring.genres.PopMusic">
    </bean>

    <bean id="musicBean5"
          class="ru.petrenko.spring.genres.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.petrenko.spring.MusicPlayer"
        scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
                <ref bean="musicBean4"/>
                <ref bean="musicBean5"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>-->
